<section class="section-wrap" id="community">
  <div class="section-heading">
    <div>
      <p class="eyebrow">%home_shared_aaf</p>
      <h2>%home_shared_aag</h2>
    </div>
    <a class="text-link" href="https://discord.gg/vlang"
      >%home_shared_aah</a
    >
  </div>
  <div class="resource-grid">
    <div class="resource-group">
      <h3>%home_shared_aai</h3>
      <p>
        %home_shared_aaj
      </p>
      <div class="resource-links">
        <a href="https://discord.gg/vlang">%home_shared_aba</a
        ><a href="https://github.com/vlang/v/discussions">%forum ↗</a
        ><a href="https://x.com/v_language">%home_shared_abb</a
        ><a href="https://mas.to/&#64;vlang">%home_shared_abc</a
        ><a href="https://t.me/vlang_en">%home_shared_abd</a
        ><a href="https://www.youtube.com/c/VLang/videos">%home_shared_abe</a
        ><a href="https://twitch.tv/v_language">%home_shared_abf</a
        ><a href="https://vlang.veery.blog">%home_shared_abg</a>
      </div>
    </div>
    <div class="resource-group">
      <h3>%home_shared_abh</h3>
      <p>
        %home_shared_abi
      </p>
      <div class="editor-links">
        <a
          href="https://marketplace.visualstudio.com/items?itemName=vlanguage.vscode-vlang"
          ><img
            src="/img/vscode.png"
            alt=""
            width="22"
            height="22"
            loading="lazy"
          />
          %home_shared_abj</a
        ><a href="https://plugins.jetbrains.com/plugin/24183-vlang"
          ><img
            src="/img/intellij.png"
            alt=""
            width="22"
            height="22"
            loading="lazy"
          />
          %home_shared_aca</a
        ><a href="https://github.com/ollykel/v-vim"
          ><img
            src="/img/vim.png"
            alt=""
            width="22"
            height="22"
            loading="lazy"
          />
          %home_shared_acb</a
        ><a href="https://github.com/damon-kwok/v-mode"
          ><img
            src="/img/emacs.png"
            alt=""
            width="22"
            height="22"
            loading="lazy"
          />
          %home_shared_acc</a
        ><a href="https://github.com/elliotchance/vlang-sublime"
          ><img
            src="/img/sublime.png"
            alt=""
            width="22"
            height="22"
            loading="lazy"
          />
          %home_shared_acd</a
        >
      </div>
    </div>
    <div class="resource-group">
      <h3>%home_shared_ace</h3>
      <div class="book-links">
        <a href="https://www.amazon.com/gp/product/1839213434"
          ><img
            src="/img/book.jpg"
            alt="%home_shared_acf"
            width="66"
            height="90"
            loading="lazy"
          /><span
            >%home_shared_acg<small
              >%home_shared_ach</small
            ></span
          ></a
        ><a
          href="https://novapublishers.com/shop/randomness-revisited-using-the-v-programming-language"
          ><img
            src="/img/book2.jpg"
            alt="%home_shared_aci"
            width="66"
            height="90"
            loading="lazy"
          /><span
            >%home_shared_acj<small
              >%home_shared_ada</small
            ></span
          ></a
        >
      </div>
      <a class="text-link" href="https://my-store-7564322.creator-spring.com/"
        >%home_shared_adb</a
      >
    </div>
  </div>
</section>
