<section class="section-wrap sponsors" id="sponsors">
  <div class="section-heading">
    <div>
      <h2>%partners_sponsors</h2>
    </div>
    <a class="text-link" href="https://github.com/sponsors/medvednikov"
      >%become_sponsor_via_github ↗</a
    >
  </div>
  <div class="sponsor-grid">
    <a href="https://okturtles.org/" rel="noopener noreferrer" target="_blank">
      <img
        alt="okTurtles"
        decoding="async"
        loading="lazy"
        src="/img/sponsor_okturtles.svg"
      />
    </a>
    <a href="https://huly.io/" rel="noopener noreferrer" target="_blank">
      <img
        alt="%home_shared_add"
        decoding="async"
        loading="lazy"
        src="/img/sponsor_huly.png?3"
      /> </a
    ><a href="https://threefold.io/" rel="noopener noreferrer" target="_blank">
      <img
        alt="%home_shared_ade"
        decoding="async"
        loading="lazy"
        src="/img/sponsor_threefold.svg"
      /> </a
    ><a href="https://syndica.io/" rel="noopener noreferrer" target="_blank">
      <img
        alt="%home_shared_adf"
        decoding="async"
        loading="lazy"
        src="/img/sponsor_syndica.jpg?1"
      /> </a
    ><a
      href="https://www.octoberswimmer.com"
      rel="noopener noreferrer"
      target="_blank"
    >
      <img
        alt="%home_shared_adg"
        decoding="async"
        loading="lazy"
        src="/img/sponsor_octoberswimmer.png?3"
      /> </a
    ><a href="https://mx.com/" rel="noopener noreferrer" target="_blank">
      <img
        alt="%home_shared_adh"
        decoding="async"
        loading="lazy"
        src="/img/sponsor_mx.png"
      /> </a
    ><a href="https://whatlab.rip/" rel="noopener noreferrer" target="_blank">
      <img
        alt="%home_shared_adi"
        decoding="async"
        loading="lazy"
        src="/img/sponsor_whatlab.png"
      />
    </a>
  </div>
</section>
